@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

/* color set
    #9298A6, #CCD0D9, #011C40, #012340, #011526
*/

/* General */
body {
    overflow: hidden;
    background: #CCD0D9;
}

/* Grid.js */
.column {
    margin: 0 !important;
}

/* Grid.js */
.ui.form textarea {
    background: #9298A6 !important;
    border: 1px solid rgba(1, 35, 64, 0.15) !important;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif !important;
    font-weight: 600 !important;
    width: 90% !important;
    margin-top: 3em;
}

/* SearchBar.js */
.ui.search {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif !important;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 20%;
}
.ui.input > input {
    background: #9298A6 !important;
    border: 1px solid rgba(1, 35, 64, 0.15) !important;
}

/* VideoDetail.js */
.header {
    color: #011526 !important;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif !important;
}
div.content {
    background: #CCD0D9 !important;
    border: 1px solid rgba(1, 35, 64, 0.15) !important;
}

#playlist_part {
    display: block;
    margin: 5px;
}